/* FFECD1 - Cor clara */
/* FF7D00 - Cor vibrante */
/* 78290F - Cor escura */



.titulo-principal {
    color:blue ;
    font-size: 40px ;
    font-family: Arial, Helvetica, sans-serif
}
.subtitulo {
    color:goldenrod
}
#festas {
    color: blue;
}

.box_section {
    background:yellow;
    padding:20px;
    border:10px solid cyan;
    padding:20px;
    margin:20px;
    width:400px;
    box-sizing: border-box;

}

header {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    grid-area: cabecalho;
}


.menu-principal {
    background-color:#FF7D00;
    padding: 15px;
    grid-area: conteudo;
    
}

.menu-principal a {
    text-decoration: none;
    color: #FFFFFF;
}

.menu-principal ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-principal li {
    margin-right: 20px;
}

.card-festas {
    background-color: lightgray;
    width: 400px;
    padding: 20px;
    border: 3px;
    margin: 30px;
    box-sizing: border-box;
}
body {
    background-color:#FFECD1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* grid-template-aeras: */
}

.noticia-oficial {
    text-align: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;

}
.texto-noticia {
    text-align: justify;
    line-height: 1.6;
color: #FF7D00;
}

.titulo-noticia {
    font-weight: 800px;
    font-size: 26px;
}

.subtitulo {
    color: #78290F;
}


footer {
    background-color:#78290F ; 
    color:#FF7D00 ; 
    padding: 20px;
    text-align: center;
    grid-area: rodape;
}


.galeria-turismo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 150px;
    gap: 20px;
}

.foto-turismo {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    height: 100%;
}

.foto-destaque {
    grid-column: span 2;
}

.foto-alta {
    grid-row: 1/3;
    /* A foto está do lado esquerdo */

    grid-column: 3;
    /* Neste caso a foto foi "obrigada" a ir pro lado direito. */
}

.conteudo {
    grid-area: conteudo;
}